{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    },
  "rules": {
      "indent": ["error", "tab"],
      "no-tabs": 0,
      "no-console": 0,
      "arrow-body-style": ["error", "as-needed"]
    }
}
